<!-- home.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!-- Custom styles -->
    <link href="styles/style.css" rel="stylesheet">
    <title>Love Hunt</title>
    <link rel="icon" type="image/png" href="images/love.png">
</head>
<body>

<!--<nav class="navbar fixed-top bg-dark navbar-dark navbar-expand-lg m-0" id="navbar">
    <a class="navbar-brand" href="#">My Dating Website</a>
</nav> -->
<div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Love Hunt</a>
    </div>
</nav>
    <div class="container-fluid border">

        <div class="row">
            <div class="col justify-content-center m-5">
                <div class="row">
                    <h1 class="py-2">Love Hunt</h1>

                    <p>Welcome to the web's most successful dating website. At <strong>Love Hunt</strong> you'll meet another
                        minded individuals. We have the highest success rate of couples on the web. User's are matched by interest
                        and location. Find out why so many others have found love on our site!</p>
                </div>

                <div class="row py-2">

                        <h4>Hear what other said about us</h4>

                    <div class="row border-bottom border-top py-md-2" id="blockquote">
                        <blockquote>
                            "I met the love of my life after only a month!" - Blah
                        </blockquote>
                        <blockquote>
                            "It was so easy to set up and profile and start meeting people. I didn't realize how many others were
                            looking for love in my area." - blah
                        </blockquote>
                        <blockquote>
                            "Just try it! You'll neve be the same!" - blah
                        </blockquote>
                    </div>
                </div>
                <div class="row py-5">
                    <button type="button" class="btn btn-info">Create Your Profile!</button>

                </div>

            </div>

            <div class="col m-5">
                <img src="images/dating2.png" alt="dating" height="100%" width="100%">
            </div>


        </div>
    </div>
</div>
    <script src="scripts/jquery.slim.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
</body>
</html>