<!-- Author: Thanh Tran
    Description: create a dating web page
    link: home.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!-- Custom styles -->
    <link href="styles/style.css" rel="stylesheet">
    <title>Love Hunt</title>
    <link rel="icon" type="image/png" href="images/love.png">
</head>
<body>

<!-- main div for all div inside it -->
    <div id="main" class="container-fluid">
        <!-- nav bar -->
        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Love Hunt</a>
                    <a class="navbar-brand" href="member-summary">Admin</a>
                </div>
            </nav>
        </div>

        <br>

        <!-- start of container div -->
            <form method="get" action="personal">
                <div class="container border">

                <div class="row"> <!-- start of a row div that contain 2 columns -->

                <div class="col justify-content-center m-5"> <!-- column 1-->
                    <div class="row">
                        <!-- header -->
                        <h1 class="py-2">Love Hunt</h1>

                        <p>A you a single and ready for mingle. At <strong>Love Hunt</strong> you'll meet the perfect love of
                           your life. We have the highest success rate of couples on the web. User's are matched by interest,
                            personality, and location. Find out why so many others have found love on our site!</p>
                    </div>

                    <div class="row py-2"> <!-- header for blockquotes -->

                            <h4>Hear what other said about us</h4>

                        <div class="row border-bottom border-top py-md-2" id="blockquote"> <!-- start of blockquotes -->
                            <blockquote>
                                "I met the love of my life after only a month!" - Blah
                            </blockquote>
                            <blockquote>
                                "It was so easy to set up and profile and start meeting people. I didn't realize how many others were
                                looking for love in my area." - blah
                            </blockquote>
                            <blockquote>
                                "Just try it! You'll neve be the same!" - blah
                            </blockquote>
                        </div>
                    </div> <!-- end of blockquote -->

                        <!-- creat a button -->
                    <div class="d-grid d-md-flex justify-content-md-center">
                        <button type="submit" class="btn btn-info">Create Your Profile!</button>
                    </div>

                </div> <!-- end of 1st main column -->

                <div class="col m-5"> <!-- 2nd main column that contain image -->
                    <img src="images/dating2.png" alt="dating">
                </div>
            </div>
                </div>
            </form>
        </div> <!-- end of container -->
    </div> <!-- end of main -->
<!-- scripts input -->
    <script src="scripts/jquery.slim.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
</body>
</html>