<include href="views/header.html"></include>
<body>
<div id="info-main" class="container-fluid ">
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{@BASE}}">Love Hunt</a>
            </div>
        </nav>
    </div>
    <br>

    <form method="post" action="#">
        <div class="container border">
            <div class="row"> <!-- start of a row div that contain 2 columns -->

                <div class="col justify-content-center m-5"> <!-- column 1-->
                    <fieldset class="form-group  p-2">
                        <!--Personal Info -->
                        <legend>Personal Information</legend>
                        <hr>

                        <!--name -->
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" value="{{ @userFirstName }}">
                            <check if=" {{ isset( @errors['fname'] ) }}">
                                {{ @errors['fname'] }}
                            </check>
                        </div>

                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname" value="{{ @userLastName }}">
                            <check if=" {{ isset( @errors['lname'] ) }}">
                                {{ @errors['lname'] }}
                            </check>
                        </div>

                        <!--age-->
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" name="age" value="{{ @userAge }}">
                            <check if=" {{ isset( @errors['age'] ) }}">
                                {{ @errors['age'] }}
                            </check>
                        </div>


                        <!--gender-->
                        <div class="form-group">
                            <label>Select Your Gender</label>
                            <div class="col-sm-4">
                                <repeat group="{{ @genders }}" value="{{ @gender }}">
                                        <label><input type="radio"
                                                      name="gender"
                                                      id="{{ @gender }}"
                                                  value="{{ @gender }}"
                                            <check if="{{ @gender == @userGender }}">checked</check>>
                                            {{ ucfirst(@gender) }}
                                            </input></label>

                                </repeat>
                            </div>
                            <!--<check if="{{ isset(@errors[ 'gender' ]) }}">
                                {{ @errors['gender'] }}
                            </check>-->

                        </div>

                        <br>
                        <!--phone number-->
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="number" class="form-control" id="phone" name="phone" value="{{ @userPhone}}" maxlength="10" >
                            <check if=" {{ isset( @errors['phone'] ) }}">
                                {{ @errors['phone'] }}
                            </check>
                        </div>
                    </fieldset>


                </div>

                <div class="col m-5">
                    <note name="bio" rows="3" class="">
                        <strong>Note:</strong> Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.

                    </note>


                </div>
            </div>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-info">Next></button>
            </div>
            <br>
        </div>
    </form>
</div>
</body>
</html>