<include href="views/header.html"></include>
<body>
<div id="info-main" class="container-fluid">
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{@BASE}}">Love Hunt</a>
            </div>
        </nav>
    </div>
    <br>

        <form method="post" action="#">
            <div class="container border">

            <div class="row"> <!-- start of a row div that contain 2 columns -->

                <div class="col justify-content-center m-5"> <!-- column 1-->
                    <fieldset class="form-group  p-2">
                        <legend>Profile</legend>
                        <hr>

                        <!--name -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value="{{ @userEmail }}">
                            <check if=" {{ isset( @errors['email'] ) }}">
                                {{ @errors['email'] }}
                            </check>
                        </div>

                    </fieldset>
                    <!--State-->
                    <fieldset class="form-group  p-2">
                        <label>State(optional)</label>

                        <select class="form-control" id="state" name="state" value=" {{ @userState }}" >
                            <option value='none'>Select a State</option>
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ @state }}"

                                <check if="{{ @state == @userState }}">
                                    selected="selected"
                                </check>
                                >{{ @state }}
                                </option>
                            </repeat>
                            <!--<option value="washington">Washington</option>-->
                        </select>
                    </fieldset>
                    <!--seeking-->
                    <fieldset>
                        <div class="form-group">
                            <label>Select Seeking Gender (optional)</label>
                            <div >
                                <repeat group="{{ @seekings }}" value="{{ @seeking }}">
                                    <label><input type="radio"
                                                  name="seeking"
                                                  id="{{ @seeking }}"
                                                  value="{{ @seeking }}"
                                        <check if="{{ @seeking == @userSeeking }}">checked</check>>
                                        {{ ucfirst(@seeking) }}
                                        </input></label> &nbsp; &nbsp; &nbsp;
                                </repeat>
                            </div>
                            <check if="{{ isset(@errors[ 'seeking' ]) }}">
                                {{ @errors['seeking'] }}
                            </check>
                        </div>

                    </fieldset>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="bio">Biography(optional)</label>
                        <input class="form-control" id="bio" name="bio" value="{{ @userBio }}" role="textbox" contenteditable="true">
                        <check if=" {{ isset( @errors['bio'] ) }}">
                            {{ @errors['bio'] }}
                        </check>
                    </div>
                </div>
            </div>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-info">Next></button>
            </div>
                <br>
            </div>
        </form>
    </div>
</div>
</body>
</html>
