<include href="views/header.html"></include>
<body>
<div id="info-main" class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{@BASE}}">Love Hunt</a>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
    <form>
        <div class="container border">
            <br>

            <div class="row container">
                <!--<div class="rol-4">
                <table class="table table-hove border">
                    <tr>
                        <th>Name:</th>
                        <td>{{ @SESSION.fname}} {{@SESSION.lname}}</td>
                    </tr>
                    <tr>
                        <th>Gender:</th>
                        <td>{{ @SESSION.gender }}</td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td> {{ @SESSION.age }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td> {{ @SESSION.phone }}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>{{ @SESSION.email }}</td>
                    </tr>
                    <tr>
                        <th>State: </th>
                        <td>{{ @SESSION.state }}</td>
                    </tr>
                    <tr>
                        <th>Seeking: </th>
                        <td >{{ @SESSION.seeking}}</td>
                    </tr>
                    <tr>
                        <th>Interest: </th>
                        <td> {{ @SESSION.indoors}} {{ @SESSION.outdoors}}</td>
                    </tr>

                </table>
                </div>-->
            <div class="col border">
                <p>Name: {{ @SESSION.fname }} {{ @lanem}} </p>
                <hr>
                <p>Gender: {{ @SESSION.gender }}</p>
                <hr>
                <p>Age: {{ @SESSION.age }}</p>
                <hr>
                <p>Phone: {{ @SESSION.phone }}</p>
                <hr>
                <p>Email: {{ @SESSION.email}}</p>
                <hr>
                <p>State: {{ @SESSION.state }}</p>
                <hr>
                <p>Seeking: {{ @SESSION.seeking }}</p>
                <hr>
                <p>Interest: {{ @SESSION.indoors}} {{@SESSION.outdoors}}</p>
            </div>

            <div class="col ">
                <div >
                    <img src="images/profile.png" alt="profile">
                </div>
                <div >
                    <h4>Biography</h4>

                        {{ @SESSION.bio}}

                </div>
                <br>
            </div>

        </div>
        <br><br><br><br><br>
            <br><br><br><br><br>

            <br><br><br><br><br>


            <div class="d-grid d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-info">Contact Me!</button>
        </div>
        <br>
        </div>
    </form>

    </div>
</div>
</body>
</html>