<include href="views/header.html"></include>
<body>
<div id="info-main" class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{@BASE}}">Love Hunt</a>
            <a class="navbar-brand" href="member-summary">Admin</a>

        </div>
    </nav>
    <br>
    <div class="container-fluid">
    <form>
        <div class="container border">
            <br>

            <div class="row container">
                <div class="col ">
                    <div >
                        <img src="images/profile.png" alt="profile">
                        <form action="upload.php" method="post" enctype="multipart/form-data">
                            Select image to upload:
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <input type="submit" value="Upload Image" name="submit">
                        </form>
                    </div>
                    <div >
                        <h4>Biography</h4>

                        {{ @SESSION.bio}}

                    </div>
                    <br>
                </div>

                <div class="col border">
                    <hr>
                    <p>Name: {{ @SESSION.fname }} {{ @SESSION.lname}} </p>
                    <p>Gender: {{ @SESSION.gender }}</p>
                    <hr>
                    <p>Age: {{ @SESSION.age }}</p>
                    <hr>
                    <p>Phone: {{ @SESSION.phone }}</p>
                    <hr>
                    <p>Email: {{ @SESSION.email}}</p>
                    <hr>
                    <p>State: {{ @SESSION.state }}</p>
                    <hr>
                    <p>Seeking: {{ @SESSION.seeking }}</p>
                    <hr>
                    <p>Interest: {{ @SESSION.indoors}}, {{@SESSION.outdoors}}</p>
                </div>
            <!--<div class="col border">
                <p>Name: {{ @SESSION.normalMember->getFname() }} {{ @SESSION.normalMember->getlname() }} </p>
                <hr>
                <p>Gender: {{ @SESSION.normalMember->getGender() }}</p>
                <hr>
                <p>Age: {{ @SESSION.normalMember->getAge() }}</p>
                <hr>
                <p>Phone: {{ @SESSION.normalMember->getPhone() }}</p>
                <hr>
                <p>Email: {{ @SESSION.normalMember->getEmail() }}</p>
                <hr>
                <p>State: {{ @SESSION.normalMember->getState() }}</p>
                <hr>
                <p>Seeking: {{ @SESSION.normalMember->getSeeking() }}</p>
                <hr>
                <p>Interest: {{ @SESSION.premiumMember->getIndoorInterests() }}, {{@SESSION.premiumMember->getOutdoorInterests() }}</p>
            </div>-->


            <!--<div class="col ">
                <div >
                    <img src="images/profile.png" alt="profile">
                    <form action="upload.php" method="post" enctype="multipart/form-data">
                        Select image to upload:
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <input type="submit" value="Upload Image" name="submit">
                    </form>
                </div>
                <div >
                    <h4>Biography</h4>

                        {{ @SESSION.bio}}

                </div>
                <br>
            </div>-->

        </div>
        <br><br><br><br><br>
            <br><br><br><br><br>

            <br><br><br><br><br>


            <div class="d-grid d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-info">Contact Me!</button>
        </div>
        <br>
        </div>
    </form>

    </div>
</div>
</body>
</html>