/*
Author Thanh Tran
Description: Custom styles for dating web page
 */

/*
Header style
 */
h1{
    color: pink;
    margin: auto;
}
h4 {
    margin: auto;
}
/*
images styles
 */
img {
    border-radius: 10%;
    height: 100%;
    width: 100%;
}
/*
blockquote styles
 */
blockquote {
    font-style: italic;
    margin-left: 50px;
    padding-top: 20px;
}
/*
button styles
 */
button {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 10%;
}
